#about {
    position: relative;
    margin-top: 100px;
}

.gsap_item2{
    position: absolute;
    left: -20%;
    top: 0;
    width: 60%;
    opacity: 0.2;
}


#about .inner {
    margin: 0 auto;
    position: relative;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about .about_keyword {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
}

#about .about_keyword .keyword {
    display: inline-block;
    border: 2px solid var(--font-color);
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}
#about .about_keyword .keyword:hover {
    border: 2px solid var(--main-color);
    color: white;
    cursor: pointer;
}

#about .about_title {
    font-size: 96px;
    width: 35%;
    margin: 40px 50px 0 0;
    align-self: flex-end;
}

#about .about_content {
    white-space: nowrap;
    width: 50%;
    margin: 0 0 0 0;
    line-height: 32px;
}


#about .about_resume {
    min-width: 100%;
    align-self: flex-end;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border: 2px solid var(--font-color);
    background: #1d1d1d00;
    color: var(--font-color);
}

#about .resume {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}



/* 어바웃 스킬 */
.about_skills {
    width: 100%;
    display: flex;
    padding: 3% 30%;
    box-sizing: border-box;
    position: relative;
}
.about_skills::before {
    content: 'SKILLS';
    white-space: nowrap;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15rem;
    opacity: 0.03;
}

.about_skills li {
    width: 500px;
    height: 600px;
    padding: 100px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.about_skills li a {
    display: block;
    position: relative;
}

.about_skills li a:hover .imgBox{
    transform: scale(1.1);
}

.about_skills li a:hover img{
    transition: all 0.5s ease-in-out;
    opacity: 0.3;
}

.about_skills li a:hover .textBox{
    transition: all 0.5s ease-in-out;
    color: white;
}

.about_skills a .imgBox {
    position: relative;
    transition: all 0.5s ease-in-out;
}

.about_skills a .imgBox img {
    object-fit: cover;
    width: 100%;
    opacity: 0.8;
}

.about_skills a .textBox {
    position: absolute;
    left: -20%;
    bottom: 5%;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.336);
}

.textBox_deco{
    color: var(--main-color);
    font-weight: bold;
}

.about_skills a .textBox .title {
    font-size: 60px;
    margin: 0;
}

.about_skills a .textBox .text {
    font-size: 20px;
    padding-left: 5px;
}




@media all and (min-width:768px) and (max-width:1023px) {
    #about {
        position: relative;
        margin-top: 120px;
    }
    
    .gsap_item2{
        width: 100%;
    }
    
    
    #about .inner {
        width: 90%;
    }
    


    #about .about_keyword {
        width: 80%;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;
    }


    #about .about_content {
        white-space: nowrap;
        width: 50%;
        margin: 0;
        line-height: 32px;
    }

   
    
    #about .about_title {
        font-size: 72px;
    }
    
    
    
    #about .about_resume {
        min-width: 500px;
        align-self: flex-end;
        margin-top: 10px;
        border-radius: 30px;
        padding: 10px 30px;
        border: 2px solid var(--font-color);
        background: #1d1d1d00;
        color: var(--font-color);
    }
    
    #about .resume {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    
    
    /* 어바웃 스킬 */
    .about_skills {
        width: 100%;
        display: flex;
        padding: 3% 30%;
        box-sizing: border-box;
        position: relative;
    }
    .about_skills::before {
        content: 'SKILLS';
        white-space: nowrap;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 15rem;
        opacity: 0.03;
    }
    
    .about_skills li {
        width: 600px;
        padding: 100px;
        box-sizing: border-box;
        flex-shrink: 0;
    }
    
    .about_skills li a {
        display: block;
        width: 100%;
        position: relative;
    }
    
    .about_skills a .imgBox {
        position: relative;
    }
    
    .about_skills a .imgBox img {
        width: 100%;
        opacity: 0.5;
    }
    
    .about_skills a .textBox {
        left: -10%;
        bottom: 5%;
    }
    
    .about_skills a .textBox .title {
        font-size: 60px;
        margin: 0;
    }
    
    .about_skills a .textBox .text {
        font-size: 20px;
        padding-left: 5px;
    }

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {

    #about {
        position: relative;
        margin-top: 0;
    }
    
    .gsap_item2{
        width: 100%;
    }
    
    
    #about .inner {
        width: 90%;
    }
    

    #about .about_content {
        margin: 50px 0 0 0;
    }

    #about .about_keyword {
        width: 100%;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;
    }

    #about .about_keyword .keyword {
        display: inline-block;
        border: 2px solid var(--font-color);
        border-radius: 30px;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        overflow: visible;
        white-space: wrap;
    }

    
    #about .about_title {
        font-size: 54px;
    }
    
    
    
    #about .about_resume {
        min-width: 100%;
        align-self: flex-end;
        margin-top: 10px;
        border-radius: 30px;
        padding: 10px 30px;
        border: 2px solid var(--font-color);
        background: #1d1d1d00;
        color: var(--font-color);
    }
    
    #about .resume {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    
    
    /* 어바웃 스킬 */
    .about_skills {
        width: 100%;
        display: flex;
        padding: 3% 30%;
        box-sizing: border-box;
        position: relative;
    }
    .about_skills::before {
        content: 'SKILLS';
        white-space: nowrap;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 15rem;
        opacity: 0.03;
    }
    
    .about_skills li {
        width: 500px;
        padding: 100px;
        box-sizing: border-box;
        flex-shrink: 0;
    }
    
    .about_skills li a {
        display: block;
        width: 100%;
        position: relative;
    }
    
    .about_skills a .imgBox {
        position: relative;
    }
    
    .about_skills a .imgBox img {
        width: 100%;
        opacity: 0.5;
    }
    
    .about_skills a .textBox {
        position: absolute;
        left: -10%;
        bottom: 5%;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.336);
    }
    
    .about_skills a .textBox .title {
        font-size: 60px;
        margin: 0;
    }
    
    .about_skills a .textBox .text {
        font-size: 20px;
        padding-left: 5px;
    }


}

