#about {
    position: relative;
    margin-top: 100px;
}

.gsap_item2{
    position: absolute;
    left: -20%;
    top: 0;
    width: 60%;
    opacity: 0.2;
}


#about .inner {
    margin: 0 auto;
    position: relative;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about .about_keyword {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
}

#about .about_keyword .keyword {
    display: inline-block;
    border: 2px solid var(--font-color);
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}
#about .about_keyword .keyword:hover {
    border: 2px solid var(--main-color);
    color: white;
}

#about .about_title {
    font-size: 96px;
    width: 35%;
    margin: 40px 50px 0 0;
    align-self: flex-end;
}

#about .about_content {
    white-space: nowrap;
    width: 50%;
    margin: 0 0 0 0;
    line-height: 32px;
}


#about .about_resume {
    min-width: 100%;
    align-self: flex-end;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border: 2px solid var(--font-color);
    background: #1d1d1d00;
    color: var(--font-color);
}

#about .resume {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}



/* 어바웃 스킬 */
.about_skills {
    width: 100%;
    display: flex;
    padding: 3% 30%;
    box-sizing: border-box;
    position: relative;
}
.about_skills::before {
    content: 'SKILLS';
    white-space: nowrap;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15rem;
    opacity: 0.03;
}

.about_skills li {
    width: 500px;
    height: 600px;
    padding: 100px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.about_skills li .card {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    perspective: 1200px;
}

.about_skills .back{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 20px 20px 20px;
    box-sizing: border-box;
    transform: rotateY(-180deg);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
}

.about_skills .back .text{
    height: 50%;
    white-space: normal; 
    word-wrap: break-word;
    line-height: 35px;
}

.about_skills .front{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-mask-image: linear-gradient(-60deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.about_skills .card > div{
    transition: 0.8s;
}

.about_skills .card:hover .front{
    transform: rotateY(180deg);
}

.about_skills .card:hover .back{
    transform: rotateY(0);
}

.about_skills .imgBox img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 3px 10px black;
}


.about_skills .title {
    position: absolute;
    left: -20%;
    bottom: 0%;
    font-size: 60px;
    margin: 0;
}



.textBox_deco{
    color: var(--main-color);
    font-weight: bold;
}







@media all and (min-width:768px) and (max-width:1023px) {
    #about {
        position: relative;
        margin-top: 120px;
    }
    
    .gsap_item2{
        width: 100%;
    }
    
    
    #about .inner {
        width: 90%;
    }
    


    #about .about_keyword {
        width: 80%;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;
    }


    #about .about_content {
        white-space: nowrap;
        width: 50%;
        margin: 0;
        line-height: 32px;
    }

   
    
    #about .about_title {
        font-size: 72px;
    }
    
    
    
    #about .about_resume {
        min-width: 500px;
        align-self: flex-end;
        margin-top: 10px;
        border-radius: 30px;
        padding: 10px 30px;
        border: 2px solid var(--font-color);
        background: #1d1d1d00;
        color: var(--font-color);
    }
    
    #about .resume {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    
    
    /* 어바웃 스킬 */
    .about_skills {
        width: 100%;
        display: flex;
        padding: 3% 30%;
        box-sizing: border-box;
        position: relative;
    }
    .about_skills::before {
        content: 'SKILLS';
        white-space: nowrap;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 15rem;
        opacity: 0.03;
    }
    
    .about_skills li {
        width: 500px;
        height: 600px;
        padding: 100px;
        box-sizing: border-box;
        flex-shrink: 0;
    }
    
    .about_skills li .card {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        perspective: 1200px;
    }
    
    .about_skills .back{
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 50px 20px 20px 20px;
        box-sizing: border-box;
        transform: rotateY(-180deg);
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 30px;
    }
    
    .about_skills .back .text{
        height: 50%;
        white-space: normal; 
        word-wrap: break-word; 
    }
    
    .about_skills .front{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }
    
    .about_skills .card > div{
        transition: 0.8s;
    }
    
    .about_skills .card:hover .front{
        transform: rotateY(180deg);
    }
    
    .about_skills .card:hover .back{
        transform: rotateY(0);
    }
    
    .about_skills .imgBox img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
    
    
    .about_skills .title {
        position: absolute;
        left: -20%;
        bottom: 0%;
        font-size: 60px;
        margin: 0;
    }
    
    
    
    .textBox_deco{
        color: var(--main-color);
        font-weight: bold;
    }

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {

    #about {
        position: relative;
        margin-top: 0;
    }
    
    .gsap_item2{
        width: 100%;
    }
    
    
    #about .inner {
        width: 90%;
    }
    

    #about .about_content {
        margin: 50px 0 0 0;
    }

    #about .about_keyword {
        width: 100%;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;
    }

    #about .about_keyword .keyword {
        display: inline-block;
        border: 2px solid var(--font-color);
        border-radius: 30px;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        overflow: visible;
        white-space: wrap;
    }

    
    #about .about_title {
        font-size: 54px;
    }
    
    
    
    #about .about_resume {
        min-width: 100%;
        align-self: flex-end;
        margin-top: 10px;
        border-radius: 30px;
        padding: 10px 30px;
        border: 2px solid var(--font-color);
        background: #1d1d1d00;
        color: var(--font-color);
    }
    
    #about .resume {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    
    
    /* 어바웃 스킬 */
    .about_skills {
        width: 100%;
        display: flex;
        padding: 3% 30%;
        box-sizing: border-box;
        position: relative;
    }
    .about_skills::before {
        content: 'SKILLS';
        white-space: nowrap;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 15rem;
        opacity: 0.03;
    }
    
    .about_skills li {
        width: 500px;
        height: 600px;
        padding: 100px;
        box-sizing: border-box;
        flex-shrink: 0;
    }
    
    .about_skills li .card {
        width: 70%;
        height: 100%;
        display: block;
        position: relative;
        perspective: 1200px;
    }
    
    .about_skills .back{
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 50px 20px 20px 20px;
        box-sizing: border-box;
        transform: rotateY(-180deg);
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 30px;
    }
    
    .about_skills .back .text{
        height: 50%;
        white-space: normal; 
        word-wrap: break-word; 
    }
    
    .about_skills .front{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }
    
    .about_skills .card > div{
        transition: 0.8s;
    }
    
    .about_skills .card:hover .front{
        transform: rotateY(180deg);
    }
    
    .about_skills .card:hover .back{
        transform: rotateY(0);
    }
    
    .about_skills .imgBox img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
    
    
    .about_skills .title {
        position: absolute;
        left: -20%;
        bottom: 0%;
        font-size: 60px;
        margin: 0;
    }

}

