#contect {
    background-image: url("../image/bg1.svg");
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: contain;

}

#contect .inner {
    margin: 0 auto;
}

#contect .contect_title {
    font-size: 96px;
    text-align: center;
    margin: 100px 0 50px;
}

#contect .contect_wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

}

#contect .contect_content {
    font-size: 62px;
    margin: 0;
}

#contect .contect_box {
    white-space: nowrap;
    line-height: 108px;
    display: flex;
    flex-direction: column;
}
#contect .contect_box ul {
    display: flex;
    justify-content: start;
    padding: 0;
}
#contect .contect_box ul li {
    width: 30%;
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    #contect {
        background-image: url("../image/bg1.svg");
        background-repeat: no-repeat;
        background-position: 20%;
        background-size: contain;
    }
    
    #contect .inner {
        width: 90%;
        margin: 0 auto;
    }
    
    #contect .contect_title {
        font-size: 72px;
        text-align: center;
        margin: 45px 0 50px;
    }
    
    #contect .contect_wrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        /* border: 1px solid red; */
    
    }
    
    #contect .contect_content {
        font-size: 32px;
        margin: 0;
    }
    
    #contect .contect_box {
        white-space: wrap;
        line-height: 56px;
        display: flex;
        flex-direction: column;
    }
    #contect .contect_box ul {
        display: flex;
        justify-content: start;
        padding: 0;
    }
    #contect .contect_box ul li {
        width: 30%;
    }
    

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    #contect {
        background-image: url("../image/bg1.svg");
        background-repeat: no-repeat;
        background-position: 20%;
        background-size: contain;
    }
    
    #contect .inner {
        width: 90%;
        margin: 0 auto;
    }
    
    #contect .contect_title {
        font-size: 54px;
        text-align: center;
        margin: 45px 0 50px;
    }
    
    #contect .contect_wrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;

    
    }
    
    #contect .contect_content {
        font-size: 32px;
        margin: 0;
    }
    
    #contect .contect_box {
        white-space: wrap;
        line-height: 56px;
        display: flex;
        flex-direction: column;
    }
    #contect .contect_box ul {
        display: flex;
        justify-content: start;
        padding: 0;
    }
    #contect .contect_box ul li {
        width: 30%;
    }

}