#contect {
    position: relative;
}

#contect .inner {
    margin: 0 auto;
}

#contect .contect_title {
    font-size: 96px;
    text-align: center;
    margin: 0 0 50px;
}

#contect .contect_content_box {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

#contect .contect_content {
    height: 70%;
    font-size: 48px;
    margin: 0;
    line-height: 70px;
}

#contect .contect_box {
    white-space: nowrap;
    line-height: 80px;
    display: flex;
    justify-content: center;
}
#contect .contect_box > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 50px;
}

#contect .contect_box img {
    transform-origin: center;
    width: 30%;
    height: 100%;
    object-fit: cover;
}

#contect .contect_box b {
    color: var(--main-color);
    font-weight: bold;
}

#contect .contect_box ul {
    margin-top: 80px;
    display: flex;
    justify-content: start;
    padding: 0;
}
#contect .contect_box ul li {
    width: 10%;
    padding-right: 100px;
}

@media all and (min-width:768px) and (max-width:1023px) {
    #contect {
        position: relative;
    }

    #contect .inner {
        margin: 0 auto;
    }

    #contect .contect_title {
        font-size: 54px;
        text-align: center;
        margin: 0 0 50px;
    }

    #contect .contect_content_box {
        padding-top: 0;
        display: flex;
        align-items: center;
    }

    #contect .contect_content {
        height: 70%;
        font-size: 32px;
        margin: 0;
        line-height: 60px;
    }

    #contect .contect_box {
        white-space: nowrap;
        line-height: 80px;
        display: flex;
        justify-content: center;
    }
    #contect .contect_box > div {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-left: 50px;
    }

    #contect .contect_box img {
        transform-origin: center;
        width: 40%;
        height: 100%;
        object-fit: cover;
    }

    #contect .contect_box span {
        color: var(--main-color);
        font-weight: bold;
    }

    #contect .contect_box ul {
        margin-top: 80px;
        display: flex;
        justify-content: start;
        padding: 0;
    }
    #contect .contect_box ul li {
        width: 10%;
        padding-right: 100px;
    }

}

@media all and (max-width:767px) {
    #contect {
        position: relative;
    }

    #contect .inner {
        margin: 0 auto;
    }

    #contect .contect_title {
        font-size: 54px;
        text-align: center;
        margin: 0 0 50px;
    }

    #contect .contect_content_box {
        padding-top: 0;
        display: flex;
        align-items: center;
    }

    #contect .contect_content {
        height: 70%;
        font-size: 18px;
        margin: 0;
        line-height: 32px;
    }

    #contect .contect_box {
        white-space: nowrap;
        line-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contect .contect_box > div {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-left: 0;
    }

    #contect .contect_box img {
        margin: 0 auto 40px;
        transform-origin: center;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    #contect .contect_box span {
        color: var(--main-color);
        font-weight: bold;
    }

    #contect .contect_box ul {
        margin-top: 20px;
        display: flex;
        justify-content: start;
        padding: 0;
    }
    #contect .contect_box ul li {
        width: 10%;
        padding-right: 50px;
    }

}
