@import url(./reset.css);
@import url(./header.css);
@import url(./visual.css);
@import url(./work.css);
@import url(./about.css);
@import url(./contect.css);
@import url(./footer.css);





.gsap_item3{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    opacity: 0.5;
}