:root{
    --bg-color : #1D1D1D;
    --font-color: #c7c7c7;
    --main-color: #e8176b;
    --auxiliary-color1 : #315078;
}

.Point_color{
    color: var(--main-color);
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/*초기화*/
body,
html {
    font-family: 'Pretendard-Regular', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-size: 18px;
}
ul {
    list-style: none;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.inner {
    width: 70%;
    /* border: 1px solid red; */
}


/*헤더--------------------------------------------------------------*/
#header {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    opacity: 1;
    transition: all 0.7s ease-in-out;
    background-color:rgba(34, 34, 34, 0.8);
}

#header.stiky{
    top: -200px;
    opacity: 0;
    background-color:transparent;
}


#header .inner {
    margin: 0 auto;

}

#header .inner .header_gnb {
    display: flex;
    justify-content: flex-end;

}

#header .header_gnb li {
    margin: 0 10px;
    position: relative;

}
#header .header_gnb li a{
    padding: 8px 10px;
}

#header .header_gnb li::before{
    /* content: '';
    background-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #315078; */
}

#header .header_gnb li:hover a{
    color: white;
}

#visual {
    position: relative; /* 파티클 배치를 위해 부모 요소에 상대적 위치 지정 */
    height: 100vh; /* 필요한 만큼 높이를 지정 */
    overflow: hidden; /* 파티클이 영역을 넘지 않도록 설정 */
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* 다른 콘텐츠 위로 오지 않도록 뒤로 배치 */
}

#visual{
    position: relative;
}

#visual::before{
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #1d1d1d00, #1D1D1D);
    z-index: 100;
}

#visual .visual_bg{
    width: 100%;
    position: absolute;
    bottom: 0;
}


#visual .visual_bg:nth-child(4){
    bottom: -40px;
}


#visual .inner {
    margin: 0 auto;
}

.box{
    width: 100%;
    height: 100%;
}

#visual .visual_title {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    position: relative;
    z-index: 1;
}

#visual .title {
    margin: 0;
    font-size: 90px;
}
#visual .title_content {
    font-size: 12px;
    margin: 0 10% 0 0;
    /* align-self: flex-end; */
    /* 쿼리작업때     align-self : flex-start;*/
    line-height: 32px;
}
#visual .visual_title span {
    font-size: 32px;
    font-weight: bold;
}

#work{
    position: relative;
}

.roket{
    position: absolute;
    /* border: 1px solid red; */
    width: 20%;
    left: 0;
    bottom: 0;
    transform:rotate(53deg);
    opacity: 0.5;
}



#work .inner {
    margin: 0 auto;
}

#work .work_title {
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font-size: 96px;
    text-align: left;
    margin-top: 41px;
}

#work .work_content_fig {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    opacity: 0;
    transform: translateY(200px);
    transition: all 1s ease-in-out;
}

#work .work_content_fig.animated{
    transform: translateY(0);
    opacity: 1;
}
#work .work_content_fig figure span {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}


#work .work_img {
    width: 60%;
    position: relative;
    filter : grayscale(80%);
    transition: all 0.3s ease-in-out;
}

#work .work_img img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center top;
}


#work .work_content_fig:nth-child(1){
    margin-top: 0;
}
#work .before_hover {
    display: inline-block;
    width: 100%;
}
#work .before_hover:before{
    content: 'VIEW SITE';
    white-space: nowrap;
    padding: 8px 50px;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--bg-color);
    border-radius: 20px;
    opacity: 0;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(90deg); 
    transition: all 0.3s ease-in-out;
}

#work .work_content_fig:hover .before_hover:before{
    opacity: 0.9;
    transform: translate(-50%, -50%) rotate(0deg);
}

#work .work_content_fig:hover .work_img {
    filter : grayscale(0)
}

#work .work_content_fig:nth-child(even) {
    flex-direction: row-reverse;
}

#about {
    position: relative;
    margin-top: 100px ;
}

#work .about_bg{
    position: absolute;
    animation: scale 2s ease-in-out infinite alternate;
    z-index: 0;
}

#work .about_bg:nth-child(1){
    width: 20%;
    right: 10%;
    top: 10%;
    opacity: 1;
}
#work .about_bg:nth-child(2){
    width: 20%;
    left: 10%;
    top: 30%;
    opacity: 0.8;
}
#work .about_bg:nth-child(3){
    width: 20%;
    right: 10%;
    top: 50%;
    opacity: 0.8;
}
#work .about_bg:nth-child(4){
    width: 20%;
    left: 10%;
    top: 70%;
    opacity: 1;
}



#about .inner {
    margin: 0 auto;
    position: relative;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
    /* z-index: 100; */
}
#about .about_keyword{
    width: 50%;
}



#about .about_keyword .keyword{
    display: inline-block;
    border: 2px solid var(--font-color);
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}
#about .about_keyword .keyword:hover{
    border: 2px solid var(--auxiliary-color1);
    color: white;
}



#about .about_title {
    font-size: 96px;
    width: 35%;
    margin: 40px 50px 0 0;
    align-self: flex-end;
}

#about .about_content {
    white-space: nowrap;
    width: 50%;
    margin: 0 0 0 10%;
    line-height: 32px;
}

#about .about_keyword{
    align-self: flex-end;
    max-width: 30%;
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#about .about_resume{
    min-width: 500px;
    align-self: flex-end;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    border: 2px solid var(--font-color);
    background: #1d1d1d00;
    color: var(--font-color);
}

#about .resume{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#about 

#about .resume li {

}

.about_skills{
    display: flex;
    padding: 3% 30%;
    box-sizing: border-box;
} 

.about_skills li{
    width: 500px;
    padding: 100px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.about_skills li a{
    display: block;
    width: 100%;
    position: relative;
}

.about_skills a .imgBox{
    position: relative;
}

.about_skills a .imgBox img{
    width: 100%;
}

.about_skills a .textBox{
    position: absolute;
    left: 0;
    bottom: 10%;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.336);
}

.about_skills a .textBox .title {
    font-size: 60px;
}

.about_skills a .textBox .text {
    font-size: 20px;
    padding-left: 5px;
}


#contect {
    background-image: url(../image/bg1.svg);
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: contain;

}

#contect .inner {
    margin: 0 auto 0;
}

#contect .contect_title {
    font-size: 96px;
    text-align: center;
    margin: 100px 0 50px 0;
}

#contect .contect_wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    /* border: 1px solid red; */

}


#contect .contect_content {
    font-size: 62px;
    margin: 0;
    /* border: 1px solid red; */
}

#contect .contect_box {
    white-space: nowrap;
    line-height: 108px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
#contect .contect_box ul {
    display: flex;
    justify-content: start;
    padding: 0;
}
#contect .contect_box ul li{
    width: 30%;
}



#footer .inner{
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}


/*gsap*/

#visual .gsap_item1{
    width: 35%;
    right: 15%;
    bottom: 35%;
}

.gsap_item2{
    position: absolute;
    left: -20%;
    top: -25%;
    width: 60%;
    opacity: 0.2;
}
