
.resume_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aliceblue;
}

.resume_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

.resume_container::before {
    content: 'Resume';
    font-size: 15rem;
    color: rgba(255, 255, 255, 0.03);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.68656888413443deg, rgba(29, 29, 29,1) -2.0619097586568733%,rgba(29, 29, 29,1) 13.722892619797129%,rgba(29, 29, 29,0.006756756756756799) 43.494228751311645%,rgba(29, 29, 29,0) 43.29442112626792%,rgba(29, 29, 29,1) 81.85729275970618%,rgba(29, 29, 29,1) 92.047481636936%);
    z-index: 0;
  }


.resume_container .inner{
    width: 50%;
    height: 100%;
}

.resume_container .resume_box{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.resume_container .resume_box .resume_title{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.resume_container .resume_box .resume_title h2{
    font-size: 32px;
}


.resume_container .resume_box .resume_card_box{
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.resume_container .resume_box .resume_card_box > div{
    width: 50%;
    position: relative;
}

.resume_container .resume_box .resume_card_box .resume_card{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.resume_container .resume_box .resume_card_box .resume_card:hover{
    cursor: url(../image/cursor_click.png) 54 54,auto;;
}

.resume_container .resume_box .resume_card_box .resume_card p{
    width: 100%;
    height: 30%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
    font-size: 21px;
    box-sizing: border-box;
    padding-top: 40px;
}

.resume_container .resume_box .resume_card:nth-child(1){
    transform: rotate(10deg);
}
.resume_container .resume_box .resume_card:nth-child(2){
    transform: rotate(20deg);
}

.resume_container .resume_box .resume_card:nth-child(3){
    transform: rotate(-15deg);
}

.resume_container .resume_box .resume_card:nth-child(4){
    transform: rotate(10deg);
}

.resume_container .resume_box img{
    width: 300px;
    height: 400px;
    background-color: aquamarine;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}



.modal_resume{
    position: fixed;
    left: 65%;
    top: 50%;
    width: 600px;
    height: 800px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px black;
    border-radius: 40px;
    visibility: hidden;
}

.modal_resume:hover{
    cursor: url(../image/cursor_close.png) 54 54,auto;
}

.modal_resume::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.modal_resume:nth-child(1){
    background: url(../image/이력서카드/성장과정.png);
    background-position: center ;
    background-size:cover;
    background-repeat: no-repeat;

}
.modal_resume:nth-child(2){
    background: url(../image/이력서카드/성격장단점.png);
    background-position: center ;
    background-size:cover;
    background-repeat: no-repeat;
}
.modal_resume:nth-child(3){
    background: url(../image//이력서카드/가치관신조.png);
    background-position: center ;
    background-size:cover;
    background-repeat: no-repeat;
}
.modal_resume:nth-child(4){
    background: url(../image/이력서카드/지원동기포부.png);
    background-position: center ;
    background-size:cover;
    background-repeat: no-repeat;
}

.modal_resume .modal_resume_text{
    box-sizing: border-box;
    height: 100%;
    padding: 50px 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 5px black;
    border-radius: 40px;
    line-height: 30px;
}


.modal_resum_slide{
    visibility: visible;
}







/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .resume_container{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .resume_container .inner{
        width: 80%;
        height: 100%;
    }
    
    .resume_container .resume_box{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .resume_container .resume_box .resume_title{
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    
    .resume_container .resume_box .resume_card_box{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .resume_container .resume_box .resume_card_box > div{
        width: 50%;
        position: relative;
    }
    
    .resume_container .resume_box .resume_card_box .resume_card{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    
    .resume_container .resume_box .resume_card_box .resume_card:hover{
        cursor: url(../image/cursor_click.png) 54 54,auto;;
    }
    
    .resume_container .resume_box .resume_card_box .resume_card p{
        width: 100%;
        height: 30%;
        margin: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        text-align: center;
        font-size: 21px;
        box-sizing: border-box;
        padding-top: 40px;
    }

    .resume_container .resume_box img{
        width: 300px;
        height: 400px;
        background-color: aquamarine;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0 0 10px black;
    }
    
    
    .modal_resume{
        position: fixed;
        left: 50%;
        top: 50%;
        width: 600px;
        height: 800px;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px black;
        border-radius: 40px;
        visibility: hidden;
    }
    
    .modal_resume::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    
    .modal_resume .modal_resume_text{
        box-sizing: border-box;
        height: 100%;
        padding: 50px 100px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        text-shadow: 1px 1px 5px black;
        border-radius: 40px;
        line-height: 30px;
    }
    
    
    .modal_resum_slide{
        visibility: visible;
    }

    
    

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {

    
.resume_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.resume_container .inner{
    width: 100%;
    height: 100%;
}

.resume_container .resume_box{
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.resume_container .resume_box .resume_title{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.resume_container .resume_box .resume_card_box{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.resume_container .resume_box .resume_card_box > div{
    width: 50%;
    position: relative;
}

.resume_container .resume_box .resume_card_box .resume_card{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.resume_container .resume_box .resume_card_box .resume_card:hover{
    cursor: url(../image/cursor_click.png) 54 54,auto;;
}

.resume_container .resume_box .resume_card_box .resume_card p{
    width: 100%;
    height: 20%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    padding-top: 20px;
}

.resume_container .resume_box img{
    width: 200px;
    height: 300px;
    background-color: aquamarine;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}


.modal_resume{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 600px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px black;
    border-radius: 40px;
    visibility: hidden;
}

.modal_resume::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}



.modal_resume .modal_resume_text{
    box-sizing: border-box;
    height: 100%;
    padding: 50px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 5px black;
    border-radius: 40px;
    line-height: 25px;
    font-size: 14px;
}


.modal_resum_slide{
    visibility: visible;
}


}











