#work {
    position: relative;
    margin-bottom: 100px;
}

.gsap_item3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    opacity: 1;
}

#work .inner {
    margin: 0 auto;
}

figure {
    margin: 0;
}

#work .work_title {
    margin-left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font-size: 96px;
    text-align: left;
    margin-top: 41px;
}

#work .work_content_fig {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    opacity: 0;
    transform: translateY(200px);
    transition: all 1s ease-in-out;
}

#work .work_content_fig.animated {
    transform: translateY(0);
    opacity: 1;
}

#work .work_content_fig figcaption span {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    transition: all 0.5s;
    text-shadow: 5px 5px 10px black;
}

#work .work_content_fig p{
    color: rgb(184, 184, 184);
}

#work .work_img {
    width: 60%;
    position: relative;
    filter : grayscale(80%);
    transition: all 0.3s ease-in-out;
}

#work .work_img img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center top;
    box-shadow: 3px 3px 5px black;

}

#work .work_content_fig:nth-child(1) {
    margin-top: 0;
}
#work .before_hover {
    display: inline-block;
    width: 100%;
}
#work .before_hover:before {
    content: 'VIEW SITE';
    white-space: nowrap;
    padding: 8px 50px;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--main-color);
    border-radius: 20px;
    opacity: 0;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(30deg);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px black, 0 0 10px rgb(100, 14, 14), 0 0 10px var(--main-color);
}

#work .work_content_fig:hover {
    cursor: url("../image/cursor_click.png") 54 54,auto;
}

#work .work_content_fig:hover .before_hover:before {
    opacity: 0.9;
    transform: translate(-50%, -50%) rotate(0deg);
}

#work .work_content_fig:hover figcaption span {
    transform: scale(1.08);
    color: white;
}

#work .work_content_fig:hover .work_img {
    filter : grayscale(0);
}


#work .work_content_fig:nth-child(even) {
    flex-direction: row-reverse;
}

/*모달*/
.work_content {
    position: relative;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal:hover {
    cursor: url("../image/cursor_close.png") 54 54,auto;
}

.modal_body {
    overflow-y: auto;
    width: 50%;
    height: 90%;
    background-color: #1d1d1d;
    margin: 0 auto;
    box-shadow: 0 0 5px white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.modal_body:hover {
    cursor: url("../image/cursor_body.png") 54 54,auto;
}

.modal_body h2 {
    margin: 50px 0 0;
}

.modal_body img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.modal_body p {
    margin: 0 0 15px;
    align-self: self-start;
    padding: 0 15%;
}

.modal_body p:nth-child(4) {
    font-size: 14px;
}

.modal_body p:nth-child(5) {
    align-self: flex-end;
    font-size: 14px;
}

.modal_slide {
    height: 100vh;
}

@media all and (min-width:768px) and (max-width:1023px) {

    #work .inner {
        width: 90%;
    }

    #work .work_title {
        font-size: 72px;
    }

    #work .work_content_fig.animated {
        transform: translateY(0);
        opacity: 1;
    }
    #work .work_content_fig figcaption span {
        font-size: 28px;
    }

    #work .work_img {
        width: 50%;
    }

    #work .work_content_fig:nth-child(1) {
        margin-top: 0;
    }
    #work .before_hover {
        display: inline-block;
        width: 100%;
    }

    #work .work_content_fig:nth-child(even) {
        flex-direction: row-reverse;
    }

    .modal {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal_body {
        overflow-y: auto;
        width: 80%;
        height: 90%;
        background-color: #1d1d1d;
        margin: 0 auto;
        box-shadow: 0 0 5px white;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .modal_body h2 {
        margin: 50px 0 0;
    }

    .modal_body img {
        width: 80%;
        height: 50%;
        object-fit: cover;
    }

    .modal_body p {
        margin: 50px 0 25px;
        align-self: self-start;
        padding: 0 15%;
    }

    .modal_body p:nth-child(5) {
        align-self: flex-end;
    }

    .modal_slide {
        height: 100vh;
    }

}

@media all and (max-width:767px) {
    .gsap_item3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        opacity: 0.9;
    }

    #work .inner {
        width: 80%;
    }

    #work .work_title {
        font-size: 54px;
    }

    #work .work_content_fig {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-top: 50px;
    }

    #work .work_content_fig:nth-child(even),
    #work .work_content_fig:nth-child(odd) {
        flex-direction: column-reverse;
    }

    #work .work_img {
        width: 100%;
        position: relative;
        filter : grayscale(80%);
        transition: all 0.3s ease-in-out;
    }
    #work .work_content_fig figcaption {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #work .work_img img {
        width: 100%;
        height: 150px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center top;
    }

    #work .work_content_fig:nth-child(1) {
        margin-top: 0;
    }
    #work .before_hover {
        display: inline-block;
        width: 100%;
    }

    .modal {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal_body {
        overflow-y: auto;
        width: 80%;
        height: 50%;
        background-color: #1d1d1d;
        margin: 0 auto;
        box-shadow: 0 0 5px white;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .modal_body h2 {
        margin: 50px 0 0;
    }

    .modal_body img {
        margin-top: 20px;
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .modal_body p {
        margin: 50px 0 25px;
        align-self: self-start;
        padding: 0 15%;
    }

    .modal_body p:nth-child(5) {
        align-self: flex-end;
    }

    .modal_slide {
        height: 100vh;
    }

}
